<section ng-repeat="v in tupianList" class="tupian">
	<div class="border"></div>
	<a href="">
		<p>{{v.title}}</p>
		<div class="big_image">
			<img ng-src="{{v.bgimg}}" alt="">
		</div>
		<div class="list_info">
			<span>{{v.src}}</span>
			<span>{{v.cmt}}</span>
			<span>{{v.time}}</span>
		</div>
	</a>
	<a href="">
		<p>{{v.title}}</p>
		<div class="big_image">
			<img ng-src="{{v.bgimg}}" alt="">
		</div>
		<div class="list_info">
			<span>{{v.src}}</span>
			<span>{{v.cmt}}</span>
			<span>{{v.time}}</span>
		</div>
	</a>
	<a href="">
		<p>{{v.title}}</p>
		<div class="big_image">
			<img ng-src="{{v.bgimg}}" alt="">
		</div>
		<div class="list_info">
			<span>{{v.src}}</span>
			<span>{{v.cmt}}</span>
			<span>{{v.time}}</span>
		</div>
	</a>
	<a href="">
		<p>{{v.title}}</p>
		<div class="big_image">
			<img ng-src="{{v.bgimg}}" alt="">
		</div>
		<div class="list_info">
			<span>{{v.src}}</span>
			<span>{{v.cmt}}</span>
			<span>{{v.time}}</span>
		</div>
	</a>
</section>