<div id="shipin">
	<section ng-repeat="v in shipinList" class="shipin">
		<div class="border"></div>
		<a href="">
			<div class="desc">
				<p>{{v.title}}</p>
				<div class="list_info">
					<span>{{v.src}}</span>
					<span>{{v.cmt}}</span>
					<span>{{v.time}}</span>
				</div>
			</div>
			<div class="one_image">
				<img ng-src="{{v.image}}" alt="">
				<span></span>
			</div>
		</a>
		<a href="">
			<div class="desc">
				<p>{{v.title}}</p>
				<div class="list_info">
					<span>{{v.src}}</span>
					<span>{{v.cmt}}</span>
					<span>{{v.time}}</span>
				</div>
			</div>
			<div class="one_image">
				<img ng-src="{{v.image}}" alt="">
				<span></span>
			</div>
		</a>
		<a href="">
			<div class="desc">
				<p>{{v.title}}</p>
				<div class="list_info">
					<span>{{v.src}}</span>
					<span>{{v.cmt}}</span>
					<span>{{v.time}}</span>
				</div>
			</div>
			<div class="one_image">
				<img ng-src="{{v.image}}" alt="">
				<span></span>
			</div>
		</a>
	</section>
</div>
