<section ng-repeat="v in tupianList" class="tupian">
	<div class="border"></div>
	<a href="">
		<p>{{v.title}}</p>
		<div class="list_image">
			<ul>
				<li><img ng-src="{{v.image1}}" alt=""></li>
				<li><img ng-src="{{v.image2}}" alt=""></li>
				<li><img ng-src="{{v.image3}}" alt=""></li>
			</ul>
		</div>
		<div class="list_info">
			<span>{{v.src}}</span>
			<span>{{v.cmt}}</span>
			<span>{{v.time}}</span>
		</div>
	</a>
	<a href="">
		<p>{{v.title}}</p>
		<div class="list_image">
			<ul>
				<li><img ng-src="{{v.image1}}" alt=""></li>
				<li><img ng-src="{{v.image2}}" alt=""></li>
				<li><img ng-src="{{v.image3}}" alt=""></li>
			</ul>
		</div>
		<div class="list_info">
			<span>{{v.src}}</span>
			<span>{{v.cmt}}</span>
			<span>{{v.time}}</span>
		</div>
	</a>
	<a href="">
		<p>{{v.title}}</p>
		<div class="list_image">
			<ul>
				<li><img ng-src="{{v.image1}}" alt=""></li>
				<li><img ng-src="{{v.image2}}" alt=""></li>
				<li><img ng-src="{{v.image3}}" alt=""></li>
			</ul>
		</div>
		<div class="list_info">
			<span>{{v.src}}</span>
			<span>{{v.cmt}}</span>
			<span>{{v.time}}</span>
		</div>
	</a>
	<a href="">
		<p>{{v.title}}</p>
		<div class="list_image">
			<ul>
				<li><img ng-src="{{v.image1}}" alt=""></li>
				<li><img ng-src="{{v.image2}}" alt=""></li>
				<li><img ng-src="{{v.image3}}" alt=""></li>
			</ul>
		</div>
		<div class="list_info">
			<span>{{v.src}}</span>
			<span>{{v.cmt}}</span>
			<span>{{v.time}}</span>
		</div>
	</a>
	<a href="">
		<p>{{v.title}}</p>
		<div class="list_image">
			<ul>
				<li><img ng-src="{{v.image1}}" alt=""></li>
				<li><img ng-src="{{v.image2}}" alt=""></li>
				<li><img ng-src="{{v.image3}}" alt=""></li>
			</ul>
		</div>
		<div class="list_info">
			<span>{{v.src}}</span>
			<span>{{v.cmt}}</span>
			<span>{{v.time}}</span>
		</div>
	</a>
</section>